.contact-us-container {
    min-height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75) 54%, rgba(71, 36, 45, 0.75) 100%), #785252;

    .contact-us-checkbox { padding-top: 10px;}

    .form-wrapper { padding-left: 5%; }

    .row { max-width: 100%; }
}