.header-container {
    height: 116px;
    background: linear-gradient(91deg, #DD6080 4.08%, #F7A55C 106.84%);

    .gradient-text {
      color: black;
      font-style: normal;

      h1 {
        font-size: 40px;
        font-weight: 700;
        }
      p {
        margin-top: -13px;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  
@media (max-width: 460px) {
  .gradient-text h1 { font-size: 35px !important; }
}