.footbal-container {
  background: linear-gradient(to bottom, #D9D9D9, #737373);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 110px 60px 110px;
  // max-height: 800px;
  color: #1B1B1B;

  .text-side-right-football {
    h1 {
      font-size: 60px;
      font-weight: 800;
      color: transparent;
      -webkit-text-stroke: 4px black;
      -webkit-background-clip: text;
      background-clip: text;
      padding-bottom: 29px;
    }
    p {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 2px !important;
      margin-bottom: 0px;
      text-transform: capitalize;
    }
  }

  .image-side-left {
    padding-right: 20px;
    
    img {
      min-width: 300px;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 800px) {
  .image-side-left {
    text-align: center; /* Center the image */
  }

  .image-side-left img {
    display: inline-block; /* Ensure the image is displayed as a block */
    margin: 0 auto; /* Center the image horizontally */
    padding: 0;
    min-width: 250px !important;
  }
}
@media (max-width: 500px) {
  .footbal-container {
    padding: 30px 80px 60px 80px;
  }

  .text-side-right-football {
    max-width: 100% !important;
    h1 {
      font-size: 40px !important;
    }
    p {
      font-size: 15px !important;
    }
}
}
@media (max-width: 430px) {
  .footbal-container {
    padding: 30px 30px 50px 30px;
  }
}
@media (max-width: 360px) {
  .text-side-right-football {
    h1 {
      font-size: 35px !important;
    }
  }
}
